.App {
  background-color: #ecfdf5;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #3e4365;
}

.container {
  border: solid 3px #ebebeb;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10rem;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.task-input {
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
}

Button {
  padding: 8px;
  border-radius: 10px;
  border: solid 1px pink;
}

.completed {
  opacity: 0.7;
  text-decoration: line-through;
}

li {
  list-style: none;
  margin-top: 1.5em;
  display: inline;

}

input {
  border: solid pink 1px;
}

input:focus {
  outline-color: #8f9ca791;
}

.toDoList {
  font-size: 15px;
  color: #3E4365;  
}

.toDo{
  display: flex;
  justify-content: space-between;
}

.completeButton{
  margin: 1em;
}

